@model LivroLibrary.Models.LivroBibliotecaModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LivroBibliotecaModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localizacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disponibilidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disponibilidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Autor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
